In [9]:
import requests # library to handle requests
from bs4 import BeautifulSoup
import lxml.html as lh
import bs4 as bs
import urllib.request

import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis

## Download and Explore Dataset

In [10]:
# The code was removed by Watson Studio for sharing.

In [11]:
# The code was removed by Watson Studio for sharing.

In [12]:
dfToronto=dfToronto.to_csv(r'toronto.csv')

In [13]:
dfToronto=pd.read_csv(r'toronto.csv')
dfToronto.head()

   Unnamed: 0 Postcode           Borough     Neighbourhood
0           0      M1A      Not assigned    Not assigned\n
1           1      M2A      Not assigned    Not assigned\n
2           2      M3A        North York         Parkwoods
3           3      M4A        North York  Victoria Village
4           4      M5A  Downtown Toronto      Harbourfront

In [14]:
# The code was removed by Watson Studio for sharing.

   Unnamed: 0 Postcode           Borough     Neighbourhood
2           2      M3A        North York         Parkwoods
3           3      M4A        North York  Victoria Village
4           4      M5A  Downtown Toronto      Harbourfront
5           5      M5A  Downtown Toronto       Regent Park
6           6      M6A        North York  Lawrence Heights

In [15]:
#columnsTitles = dfToronto.columns
dfToronto=  dfToronto.reset_index()
dfToronto.drop('index',axis=1,inplace=True)

In [16]:
dfToronto.head()

   Unnamed: 0 Postcode           Borough     Neighbourhood
0           2      M3A        North York         Parkwoods
1           3      M4A        North York  Victoria Village
2           4      M5A  Downtown Toronto      Harbourfront
3           5      M5A  Downtown Toronto       Regent Park
4           6      M6A        North York  Lawrence Heights

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [17]:
dfToronto = dfToronto.drop(dfToronto.columns[[0]], axis=1)

In [18]:
dfToronto=dfToronto.groupby('Postcode').agg(lambda x:', '.join(set(x))).reset_index()

In [19]:
dfToronto['Neighbourhood'] = dfToronto['Neighbourhood'].str.replace('\n','')
dfToronto.head(20)

   Postcode      Borough                                      Neighbourhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Port Union, Rouge Hill, Highland Creek
2       M1E  Scarborough                  Morningside, Guildwood, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        Kennedy Park, East Birchmount Park, Ionview
7       M1L  Scarborough                    Oakridge, Golden Mile, Clairlea
8       M1M  Scarborough    Scarborough Village West, Cliffside, Cliffcrest
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Wexford Heights, Scarborough Town...
11      M1R  Scarborough                                  Wexford, Maryvale
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Tam O'Shanter, Sullivan, Clarks Corners
14      M1V  Scarborough  L'Amoreaux East, Milliken, Steeles East, Aginc...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Oriole, Fairview, Henry Farm
19      M2K   North York                                    Bayview Village

In [20]:
dfToronto.shape

(103, 3)