In [14]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import csv

In [15]:
!ls

toronto1.csv  toronto.csv

In [16]:
dfToronto=pd.read_csv(r'toronto1.csv')
dfToronto.head()

   Unnamed: 0 Postcode      Borough                           Neighbourhood
0           0      M1B  Scarborough                          Rouge, Malvern
1           1      M1C  Scarborough  Port Union, Rouge Hill, Highland Creek
2           2      M1E  Scarborough       Morningside, Guildwood, West Hill
3           3      M1G  Scarborough                                  Woburn
4           4      M1H  Scarborough                               Cedarbrae

In [17]:
geo_data=pd.read_csv("https://cocl.us/Geospatial_data")
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [18]:
geo_data.shape

(103, 3)

In [19]:
dfToronto['Latitude']=geo_data['Latitude'].values
dfToronto['Longitude']=geo_data['Longitude'].values
dfToronto.head()

,Unnamed: 0,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,1,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,2,M1E,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [24]:
df_toronto_neighborhoods  = dfToronto.drop(dfToronto.columns[[0]], axis=1)

In [28]:
df_toronto_neighborhoods.head(20)

,Borough,Neighbourhood,Latitude,Longitude
0,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,Scarborough,"Port Union, Rouge Hill, Highland Creek",43.784535,-79.160497
2,Scarborough,"Morningside, Guildwood, West Hill",43.763573,-79.188711
3,Scarborough,Woburn,43.770992,-79.216917
4,Scarborough,Cedarbrae,43.773136,-79.239476
5,Scarborough,Scarborough Village,43.744734,-79.239476
6,Scarborough,"Kennedy Park, East Birchmount Park, Ionview",43.727929,-79.262029
7,Scarborough,"Oakridge, Golden Mile, Clairlea",43.711112,-79.284577
8,Scarborough,"Scarborough Village West, Cliffside, Cliffcrest",43.716316,-79.239476
9,Scarborough,"Birch Cliff, Cliffside West",43.692657,-79.264848
10,Scarborough,"Dorset Park, Wexford Heights, Scarborough Town...",43.757410,-79.273304
11,Scarborough,"Wexford, Maryvale",43.750072,-79.295849
12,Scarborough,Agincourt,43.794200,-79.262029
13,Scarborough,"Tam O'Shanter, Sullivan, Clarks Corners",43.781638,-79.304302
14,Scarborough,"L'Amoreaux East, Milliken, Steeles East, Aginc...",43.815252,-79.284577
15,Scarborough,L'Amoreaux West,43.799525,-79.318389
16,Scarborough,Upper Rouge,43.836125,-79.205636
17,North York,Hillcrest Village,43.803762,-79.363452
18,North York,"Oriole, Fairview, Henry Farm",43.778517,-79.346556
19,North York,Bayview Village,43.786947,-79.385975

In [23]:
df_toronto_neighborhoods.shape

(103, 5)

In [26]:
df_toronto_neighborhoods.to_csv(r'toronto_neighborhoods.csv')